__pycache__
node_modules
migrations
bin
lib
include
.Python
watch.py
dist/
*/.ipynb_checkpoints/
*.ipynb
*.DS_Store
chromedriver
*.code-workspace
*/.vscode/
**.swp
**.swo
**.log
letsencrypt
map.dev.env
*.env
