version: "3.7"

services:
  bedav-api:
    build:
      context: ./
      dockerfile: ./docker/api/Dockerfile
    image: bedav-api
    ports:
      - 8000:80
    volumes:
      - ./api:/var/app/api
    environment:
      DB_USER: bedav
      DB_PASS: abcd
      DJANGO_SECRET_KEY: "8+!qygafxk#dv@0a+7eywf9cgybqi3uzr#1$$1n_146z+ig!1yv"
    restart: on-failure

  bedav-scripts:
    build:
      context: ./
      dockerfile: ./docker/scripts/Dockerfile
    image: bedav-scripts
    volumes:
      - ./api:/var/app/api
      - ./scripts:/var/app/scripts
    environment:
      DB_USER: bedav
      DB_PASS: abcd
      DJANGO_SECRET_KEY: "8+!qygafxk#dv@0a+7eywf9cgybqi3uzr#1$$1n_146z+ig!1yv"
    restart: on-failure
    stdin_open: true  
  
  bedav-web:
    build:
      context: ./
      dockerfile: ./docker/website/Dockerfile
    image: bedav-web
    ports:
      - 80:8000
    volumes:
      - ./website:/var/app/website

  bedav-db:
    build:
      context: ./
      dockerfile: ./docker/db/Dockerfile
    image: bedav-db
    volumes: 
      - bedav-data:/var/lib/postgresql/data
    environment:         
      POSTGRES_USER: bedav
      POSTGRES_PASSWORD: abcd

volumes:
  bedav-data:
