aniso8601==7.0.0
asgiref==3.2.10
beautifulsoup4==4.9.1
bs4==0.0.1
camelot-py==0.8.2
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cryptography==3.0
distro==1.5.0
Django==3.1
django-debug-toolbar==2.2
django-graphql-playground==1.0
django-progressive-web-app==0.1.1
djangorestframework==3.11.1
et-xmlfile==1.0.1
graphene==2.1.8
graphene-django==2.12.1
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
jdcal==1.4.1
numpy==1.19.1
openpyxl==3.0.4
pandas==1.1.0
pathtools==0.1.2
pdfminer.six==20200726
promise==2.3
psycopg2-binary==2.8.5
pycparser==2.20
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
Rx==1.6.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
sqlparse==0.3.1
tabula-py==2.1.1
Unidecode==1.1.1
urllib3==1.25.10
watchdog==0.10.3
